src/main/mule/common-error-handler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<error-handler name="Error_Handler" doc:id="da114f8b-7782-4022-a5a1-978852afe139" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7cb54073-8f25-4c2d-8941-82e1d9712ff8" type="APIKIT:BAD_REQUEST">
			<logger level="ERROR" doc:name="Error Handler Invoked - APIKIT_BAD_REQUEST" doc:id="28f8395d-4d5f-4426-828b-2f6409dc9358" message="Error Handler Invoked - APIKIT_BAD_REQUEST" />
			<ee:transform doc:name="DW Transform for Error mapping" doc:id="18910a73-8a71-49b9-9b99-307aefdd1606" >
				<ee:variables >
					<ee:set-variable resource="dwlScripts/v-error-response400.dwl" variableName="vErrorMapping" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="sf-common-error-response" doc:id="74b2e6fb-436d-4c2c-8b06-92d0b13a6b1e" name="sf-common-error-response" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d298b519-662e-4bce-9f62-1903b52da7a8" type="APIKIT:NOT_FOUND">
			<logger level="ERROR" doc:name="Error Handler Invoked - APIKIT_NOT_FOUND" doc:id="fb4dc1bd-5704-43cd-b5eb-d587003f7794" message="Error Handler Invoked - APIKIT_NOT_FOUND" />
			<ee:transform doc:name="DW Transform for Error mapping" doc:id="79cbe620-0e84-4246-a836-fa934351ad15" >
				<ee:variables >
					<ee:set-variable resource="dwlScripts/v-error-response404.dwl" variableName="vErrorMapping" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="sf-common-error-response" doc:id="699ebe07-1460-4867-b9ce-e6d83a742e85" name="sf-common-error-response" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d0287c3c-3d24-4c71-83db-3371f20465e5" type="APIKIT:METHOD_NOT_ALLOWED">
			<logger level="ERROR" doc:name="Error Handler Invoked - APIKIT_METHOD_NOT_ALLOWED" doc:id="c6f49536-718c-42b2-be68-cbf43f989660" message="Error Handler Invoked - APIKIT_METHOD_NOT_ALLOWED" />
			<ee:transform doc:name="DW Transform for Error mapping" doc:id="2c7b9432-72f3-4180-8d97-c53882c1489a" >
				<ee:variables >
					<ee:set-variable resource="dwlScripts/v-error-response405.dwl" variableName="vErrorMapping" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="sf-common-error-response" doc:id="97001fbd-f64a-4dac-8718-4e10f58f6375" name="sf-common-error-response" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c7116f6d-ac93-44ec-aa2b-5408102c1c94" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
			<logger level="ERROR" doc:name="Error Handler Invoked - APIKIT_UNSUPPORTED_MEDIA_TYPE" doc:id="b020f8fc-6121-4821-a2b8-923259a335f3" message="Error Handler Invoked - APIKIT_UNSUPPORTED_MEDIA_TYPE" />
			<ee:transform doc:name="DW Transform for Error mapping" doc:id="da120381-413a-4cce-8a5b-e3f4d2a1a0a1" >
				<ee:variables >
					<ee:set-variable resource="dwlScripts/v-error-response415.dwl" variableName="vErrorMapping" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="sf-common-error-response" doc:id="11efaf10-ac9b-464b-a696-b068638f46c8" name="sf-common-error-response" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="49c89fba-b084-4c84-98f7-835ff61a57dd" type="APIKIT:NOT_IMPLEMENTED">
			<logger level="ERROR" doc:name="Error Handler Invoked - APIKIT_NOT_IMPLEMENTED" doc:id="d7bd10a1-74c6-4afd-9bb4-5a5322bd85e7" message="Error Handler Invoked - APIKIT_NOT_IMPLEMENTED" />
			<ee:transform doc:name="DW Transform for Error mapping" doc:id="c4fb1c33-7bfc-4892-bd32-efd883850950" >
				<ee:variables >
					<ee:set-variable resource="dwlScripts/v-error-response501.dwl" variableName="vErrorMapping" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="sf-common-error-response" doc:id="19e9ba8f-2483-4de8-80c3-2604aafe6347" name="sf-common-error-response" />
		</on-error-propagate>
	</error-handler>
	<flow name="sf-common-error-response" doc:id="8fd416a0-60be-4a12-9d1c-737ef36c4aed" >
		<logger level="ERROR" doc:name="LOG Error Message" doc:id="e4aadf5b-2f79-4f4a-82a1-f06bb2866f9a" message='"Error - HTTP Status Code:" #[vars.vErrorMapping.httpStatus] "Error Message Description :" #[vars.vErrorMapping.errorDescription]' />
		<set-variable value="#[vars.vErrorMapping.httpStatus]" doc:name="Set Http Status" doc:id="93e6f238-4361-454b-b429-f8b35a5bd889" variableName="httpStatus" />
		<ee:transform doc:name="Error Response" doc:id="762bf761-cac3-496b-bdee-35ebaadc8bcd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	is_success: false,
    errors:[
    {
        error_code: vars.vErrorMapping.errorCode,
        error_message: vars.vErrorMapping.errorDescription
    }]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
